# Logs

node_modules
dist
dist-ssr
*.local

./*/.DS_Store
*/.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
frontend/.DS_Store
frontend/.DS_Store
.env
test.md
CLAUDE.md
baota_vhost.md
.gitignore
baota_vhost_fixed.md
baota_lms_nginx.md
# backend log.md
# frontend logs.md
